# After changing this file, check it on:
#   http://lint.travis-ci.org/
language: python
sudo: false

matrix:
  include:
    - os: linux
      python: 2.7
      env:
        - PYFLAKES=1
        - PEP8=1
      before_install:
        - pip install pep8==1.6.2
        - pip install pyflakes, flake8
      script:
        - flake8
    - os: linux
      python: 3.5
    - os: linux
      python: 3.6
    - os: osx
      osx_image: xcode9.2
      language: objective-c
      env:
        - TRAVIS_PYTHON_VERSION=3.6
        - TOXENV=py36

cache: pip

before_install:
  - uname -a
  - df -h
  - ulimit -a
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then source util/travis_osx_install.sh; fi
  - ccache -s
  - which python; python --version
  - pip install --upgrade pip
  - pip install --upgrade wheel
  # Set numpy version first, other packages link against it
  - pip install six nose coverage codecov pipenv

script:
  - pipenv install --three --dev
  - pipenv install .
  - pipenv run py.test

after_success:
  - codecov