include setup.py
include README.rst
include LICENSE.txt
include *.txt
include MANIFEST.in

# All source files
recursive-include beem *
recursive-include beembase *
recursive-include beemapi *
# All documentation
recursive-include docs *
# recursive-include demo *


# Add build and testing tools
include tox.ini
recursive-include util *

# Exclude what we don't want to include
prune build
prune doc/build
prune */__pycache__

global-exclude *.py[cod] *.egg *.egg-info
global-exclude *~ *.bak *.swp