pip
setuptools
wheel
future==0.18.2
ecdsa==0.17.0
requests==2.25.1
websocket-client==1.1.0
pytz==2021.1
pycryptodomex==3.10.1
scrypt==0.8.18
cryptography==3.4.7
ruamel.yaml
mock==4.0.3
appdirs==1.4.4
Click==8.0.1
click_shell>=2.0
prettytable
pycodestyle==2.7.0
pyflakes==2.3.1
pylibscrypt==2.0.0
six==1.16.0
pytest
pytest-mock
pytest-cov
coverage
parameterized
tox
codacy-coverage
virtualenv
codecov
diff_match_patch
asn1crypto