pip
setuptools
wheel
future==0.18.3
ecdsa==0.18.0
requests==2.31.0
websocket-client==1.6.3
pytz==2023.3.post1
pycryptodomex==3.19.0
scrypt==0.8.20
cryptography==41.0.3
ruamel.yaml
mock==5.1.0
appdirs==1.4.4
Click==8.1.7
click_shell>=2.0
prettytable
pycodestyle==2.11.0
pyflakes==2.3.1
pylibscrypt==2.0.0
six==1.15.0
pytest
pytest-mock
pytest-cov
coverage
parameterized
tox
codacy-coverage
virtualenv
codecov
diff_match_patch
asn1crypto