pip
setuptools
wheel
future==0.18.2
ecdsa==0.15
requests==2.23.0
websocket-client==0.57.0
pytz==2020.1
pycryptodomex==3.9.7
scrypt==0.8.15
Events==0.3
cryptography==2.9.2
pyyaml>=4.2b1
mock==4.0.2
appdirs==1.4.4
Click==7.1.2
click_shell>=2.0
prettytable
pycodestyle==2.6.0
pyflakes==2.2.0
pylibscrypt==1.8.0
six==1.15.0
pytest
pytest-mock
pytest-cov
coverage
parameterized
tox
codacy-coverage
virtualenv
codecov
diff_match_patch
asn1
enum34