autobahn>=0.14
future
ecdsa
requests
websocket-client
pytz
pycryptodomex>=3.4.6
scrypt>=0.7.1
ruamel.yaml
diff_match_patch
pytest
pytest-mock
coverage
mock
appdirs
Click
prettytable
sphinx_rtd_theme
sphinx-click
